rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Aturan Keamanan SiGAP 13 / SiLapor Pramuka:
    // Mengizinkan pengguna yang telah terautentikasi (login) untuk membaca dan menulis data
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
